<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <title>CSE Department</title>
</head>
<body>
<header>
    <h1>CSE DEPARTMENT</h1>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'programmes' %}">Programmes</a></li>
      <li><a href="{% url 'courses' %}">Courses</a></li>
      <li><a href="{% url 'people' %}">People</a></li>
        <li><a href="{% url 'events' %}">Events</a></li>
        <li><a href="{% url 'facilities' %}">Facilities</a></li>
    </ul>
</header>
{% block content %}
{% endblock %}
<footer>
    Here goes footer
</footer>
</body>
</html>