{% extends 'base.html' %}

{% block content %}

		<h2>Under Graduate</h2>

    <table id="people">
        <tr>
            <th>Course Name</th>
            <th>Programme</th>
            <th>Semester</th>
            <th>Content</th>
            <th>Department</th>
            <th>Instructor</th>
        </tr>

        {% for u in ug %}
            <tr>
			<td>{{ u.coursename }}</td>
			<td>{{ u.programme }}</td>
			<td>{{ u.semester }}</td>
			<td>{{ u.content }}</td>
			<td>{{ u.department }}</td>
			<td>{{ u.instructor }}</td>
			</tr>
		{% endfor %}
    </table>

		
<h2>Post Graduate</h2>
		<table id="people">
        <tr>
            <th>Course Name</th>
            <th>Programme</th>
            <th>Semester</th>
            <th>Content</th>
            <th>Department</th>
            <th>Instructor</th>
        </tr>

        {% for u in pg %}
            <tr>
			<td>{{ u.coursename }}</td>
			<td>{{ u.programme }}</td>
			<td>{{ u.semester }}</td>
			<td>{{ u.content }}</td>
			<td>{{ u.department }}</td>
			<td>{{ u.instructor }}</td>
			</tr>
		{% endfor %}
    </table>

    <h2>Doctoral</h2>
		<table id="people">
        <tr>
            <th>Course Name</th>
            <th>Programme</th>
            <th>Content</th>
            <th>Department</th>
        </tr>

        {% for d in dc %}
            <tr>
			<td>{{ d.coursename }}</td>
			<td>{{ d.programme }}</td>
			<td>{{ d.content }}</td>
			<td>{{ d.department }}</td>
			</tr>
		{% endfor %}
    </table>


{% endblock %}