<!DOCTYPE html>
<html>
<head>
	<title>NITK - Courses</title>
</head>
<body>
	<center>
		<h1>Courses</h1>
		<hr><hr>

		<h2>Undergraduate</h2>
		{% for u in ug %}
			<p>Course Name: {{ u.coursename }}</p>
			<p>Programme: {{ u.programme }}</p>
			<p>Semseter: {{ u.semester }}</p>
			<p>Content: {{ u.content }}</p>
			<p>Department: {{ u.department }}</p>
			<p>Instructor: {{ u.instructor }}</p>
			<hr>
		{% endfor %}
		

		<hr><hr>
		<h2>Postgraduate</h2>
		{% for p in pg %}
			<p>Course Name: {{ p.coursename }}</p>
			<p>Programme: {{ p.programme }}</p>
			<p>Semseter: {{ p.semester }}</p>
			<p>Content: {{ p.content }}</p>
			<p>Department: {{ p.department }}</p>
			<p>Instructor: {{ p.instructor }}</p>
			<hr>
		{% endfor %}


		<hr><hr>
		<h2>Doctoral</h2>
		{% for d in dc %}
			<p>Course Name: {{ d.coursename }}</p>
			<p>Programme: {{ d.programme }}</p>
			<p>Content: {{ d.content }}</p>
			<p>Department: {{ d.department }}</p>
			<hr>
		{% endfor %}


	</center>
</body>
</html>