{% extends 'base.html' %}

{% block content %}

		<h2>Workshops</h2>
		{% for w in ws %}

			<p>Title : {{w.title}}</p>
			<p>Status : {{w.status}}</p>

			<p>Dates : {{w.from_date}}</p>
			<p>Dates : {{w.to_date}}</p>
			<p>Organizers : {{w.organizers}}</p>
			<p>Place : {{w.place}}</p>
		<hr>
		{% endfor%}
		
		<hr><hr>
		<h2>Conferences</h2>
		{% for c in cf %}

			<p>Title : {{c.title}}</p>
			<p>Status : {{c.status}}</p>
			<p>Sponsored : {{c.sponsored}}</p>

			<p>Dates : {{c.from_date}}</p>
			<p>Dates : {{c.to_date}}</p>
			<p>Organizers : {{c.organizers}}</p>
			<p>Website Link : {{c.website_link}}</p>
			<p>CFP : {{c.cfp}}</p>
			<p>Paper Submission Due : {{c.paper_submission_de}}</p>
		<hr>
		{% endfor%}

		<hr><hr>
		<h2>News</h2>
		{% for n in ne %}
			<p>Title : {{n.title}}</p>
			<p>Description : {{n.description}}</p>
		<hr>
		{% endfor%}	
	
{% endblock %}