{% extends 'base.html' %}

{% block content %}
		
		<h1>Events</h1>
		
		<hr><hr>
		<h2>Workshops</h2>
		{% for w in ws %}
			<p>Event : {{w.event}}</p>
			<p>Title : {{w.title}}</p>
			<p>Status : {{w.status}}</p>
			<p>Duration : {{w.duration}}</p>
			<p>Dates : {{w.dates}}</p>
			<p>Organizers : {{w.organizers}}</p>
			<p>Place : {{w.place}}</p>
		<hr>
		{% endfor%}
		
		<hr><hr>
		<h2>Conferences</h2>
		{% for c in cf %}
			<p>Event : {{c.event}}</p>
			<p>Title : {{c.title}}</p>
			<p>Status : {{c.status}}</p>
			<p>Sponsored : {{c.sponsored}}</p>
			<p>Duration : {{c.duration}}</p>
			<p>Dates : {{c.dates}}</p>
			<p>Organizers : {{c.organizers}}</p>
			<p>Website Link : {{c.websitelink}}</p>
			<p>CFP : {{c.cfp}}</p>
			<p>Paper Submission Due : {{c.paperdue}}</p>
		<hr>
		{% endfor%}

		<hr><hr>
		<h2>News</h2>
		{% for n in ne %}
			<p>Title : {{n.title}}</p>
			<p>Description : {{n.description}}</p>
		<hr>
		{% endfor%}	
	
{% endblock %}