{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="facilities-container">
    <h3 class="block-heading">General Facilities</h3>
    <hr class="uline">
    <p class="facilities-content">The department is equipped with state-of-the-art facilities to encourage
        research and to enable students to learn, understand and apply concepts.
    </p>

    <h4 class="facilities-subheading">Meeting Room and Seminar Hall</h4>
    <p class="facilities-content">The department has a meeting room equipped with LCD Projector and
        teleconferencing facilities. The department also has a Seminar Hall which has a seating capacity of
        100. The seminar hall is used for conducting classes, seminars and workshops etc.
    </p>

    <h4 class="facilities-subheading">Department Library</h4>
    <p class="facilities-content">Apart from the central library with e-library facility, the CSE dept
        library also has about 2500 books.
    </p>

    <h4 class="facilities-subheading">Computing Facility</h4>
    <p class="facilities-content">The department has a data centre equipped with high end server systems.
        A full list of the server systems available can be found here.
    </p>

    <h4 class="facilities-subheading">Networking</h4>
    <p class="facilities-content">Backbone connectivity consisting of 24 Port Brocade  make L3 Manageable
        distribution switch with  SMF modules, besides more than 14 L3/L2 Network Switches, used for network
        connectivity for the entire building. The LAN which in turn connected to the campus wide internet
        connectivity through Central Computer Centre of the Institute. 
    </p>

    <h4 class="facilities-subheading">Printer/Other Perpherals</h4>
    <p class="facilities-content">There are more than 15 LaserJet Printers, LCD Projector, 40” LCD TV, 65"
        LFD TV  etc for academic activities support.
    </p>

</div>

<div class="facilities-container">
    <h3 class="block-heading">Lab Facilities</h3>
    <hr class="uline">
    <p class="facilities-content">The department has 11 labs which cater to the needs of all UG/PG students
        and Research scholars. The labs are accessible to the research scholars 24/7 and are equipped with
        the latest systems and peripherals like printers and scanners. Every system operates on WIndows and
        Linux operating systems and provide students access to a variety of softwares with internet(both
        wired and wireless) connectivity. 
    </p>
    <h4 class="facilities-subheading">Undergraduate Laboratories</h4>

    <ul class="facilities-list">
        <li>Microprocessor Lab (L.No. 101)</li>
        <li>UG Lab-1(L.No. 401)</li>
        <li>UG Lab-2(L.No. 407) </li>
        <li>UG Lab-3(L.No. 501)</li>
        <li>UG Lab-4(L.No. 506)</li>
    </ul>

    <h4 class="facilities-subheading">Postgraduate Laboratories</h4>

    <ul class="facilities-list">
        <li>Ist M.Tech. Lab(L.No. 302) </li>
        <li>PG Project Lab(L.No. 311)</li>
    </ul>

    <h4 class="facilities-subheading">Rearch Laboratories</h4>
    <ul class="facilities-list">
        <li>Research Lab -1(L.No. 201) </li>
        <li>Research Lab -2(L.No. 301)</li>
    </ul>

</div>

{% endblock %}