{% extends 'base.html' %}

{% block content %}
{% load static %}
<hr class="placement-line">
<p class="placement-content">
    Students of the department are sought after by the top companies in the world owing to their academic
    standing. The department consistently performs exceptionally in terms of placement statistics. Every year
    top companies like Microsoft, Adobe and Oracle come for placement and recruit students from the department.
    The placement percentage for the B.Tech courses is consistenly above 90%. The M.Tech courses are sought
    after by IT companies and educational insitutions. IT companies also recruit M.Tech graduates from our
    department for a research profile in their companies. 
</p>
<hr class="placement-line">
<div class="placement-img-div">

<img src="{% static 'images/Placement1.png' %}" alt="Placement Image" class="placement-image">
<img src="{% static 'images/Placement2.png' %}" alt="Placement Image" class="placement-image">
<img src="{% static 'images/Placement3.png' %}" alt="Placement Image" class="placement-image">
<img src="{% static 'images/Placement4.png' %}" alt="Placement Image" class="placement-image">

</div>

{% endblock %}