{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <div class="prog-container">
        <h3 class="block-heading">Undergraduate</h3>
        <hr class="uline">
        <h4 class="prog-subheading">B.Tech (Computer Science and Engineering)</h4>
        <p class="prog-content">The B.Tech in Computer Science and Engineering is one of the most popular programmes at
            N.I.T.K Surathkal. The programme was stated in 1986 and has been designed to cater to global demands and
            offers a balanced coverage of hardware and software systems. The programme includes elective courses
            covering thrust areas such as Distributed Systems & Computing, Parallel Architectures & High performance
            computing, High-Speed Networks, Designing with Network Processors, Security and Embedded Systems Cloud
            Computing etc. The B.Tech. programme enjoys an enviable placement of almost 100% year after year. About
            25 to 35% of the students pursue higher studies after their graduation, mostly in U.S with scholarship
            and even without fellowship.
        </p>
        <hr>
        <p class="prog-content">Admission : Through JEE(Main) as per guidelines of MHRD</p>
    </div>

    <div class="prog-container">
        <h3 class="block-heading">Postgraduate</h3>
        <hr class="uline">
        <h4 class="prog-subheading">M.Tech. (Computer Science and Engineering)</h4>
        <p class="prog-content">The M.Tech.(CSE) is a four semester course and was started in 1996. The course is
            aimed at providing a comprehensive overview of the recent developments in various frontier areas of
            Computer Science and Engineering including Computer Architecture, Software Systems, Parallel and
            Distributed Computing and Networking with Web Technologies. To provide a sound basis, sufficient
            amount of theoretical input is also given to the students. Another feature of the programme is that
            the students will have ample opportunity to carry out research & software development in the labs.
        </p>

        <h4 class="prog-subheading">M.Tech. (Computer Science and Engineering - Information Security)</h4>
        <p class="prog-content">M.Tech(CSE-IS) is a four semester course aimed to focus on the recent developments
            in the areas of Information Security. The course was offered for the first time in 2007. The
            curriculum for these P.G programmes has been carefully crafted to cater the need of those students
            who are admitted with their basic degree in computing. In other words, care is taken, not to repeat
            the same, good old courses of U.G in the P.G level.
        </p>

        <h4 class="prog-subheading">M.Tech. (By Research)</h4>
        <p class="prog-content">M.Tech (By Research) programme was started in 2011 and is aimed at students interested
            more in exposure to research in various fields of Computer Science & Engineering. It emphasizes research
            work, providing students a distinctive opportunity to undertake research work and innovation.
        </p>
        <hr>
        <p class="prog-content">Admission : Through GATE as per guidelines of MHRD</p>

    </div>

{% endblock %}